<div class="item-title-container"><h1>SVG Test Page</h1></div>
<p>This page was created to help test svg properties to determine what makes the safari browser work</p>
<h3>Px Defined Width and Height on Inline SVG</h3>
<p>Expected result is a small red bar</p>
<svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10800 10800" width="100px" height="100px"
	 style="enable-background:new 0 0 10800 10800;" xml:space="preserve" preserveAspectRatio="xMidYMid meet">
    <style type="text/css">
        .st0{fill:#FFFFFF;stroke:#000000;stroke-width:0.5616;stroke-miterlimit:10;}
        .st1{fill:url(#SVGID_1_);}
    </style>
    <switch>
        <foreignObject requiredExtensions="&ns_ai;" x="0" y="0" width="1" height="1">
            <i:aipgfRef  xlink:href="#adobe_illustrator_pgf">
            </i:aipgfRef>
        </foreignObject>
        <g i:extraneous="self">
            <path style="fill:red;" class="st0" d="M7756.82,3215.94H3176.43c-0.18,0-0.32-0.16-0.31-0.34l62.59-1061.78l7.14-229.94
                c1.84-59.11,48.5-106.03,105.43-106.03h4325.82c41.97,0,74.12,38.77,67.89,81.88l11.83,319.12V3215.94z"/>
        </g>
    </switch>
</svg>

<h3>Percent Defined Width and Height on Inline SVG</h3>
<p>Expected result is a medium red bar</p>
<svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10800 10800" width="50%" height="50%"
	 style="enable-background:new 0 0 10800 10800;" xml:space="preserve" preserveAspectRatio="xMidYMid meet">
    <style type="text/css">
        .st0{fill:#FFFFFF;stroke:#000000;stroke-width:0.5616;stroke-miterlimit:10;}
        .st1{fill:url(#SVGID_1_);}
    </style>
    <switch>
        <foreignObject requiredExtensions="&ns_ai;" x="0" y="0" width="1" height="1">
            <i:aipgfRef  xlink:href="#adobe_illustrator_pgf">
            </i:aipgfRef>
        </foreignObject>
        <g i:extraneous="self">
            <path style="fill:red;" class="st0" d="M7756.82,3215.94H3176.43c-0.18,0-0.32-0.16-0.31-0.34l62.59-1061.78l7.14-229.94
                c1.84-59.11,48.5-106.03,105.43-106.03h4325.82c41.97,0,74.12,38.77,67.89,81.88l11.83,319.12V3215.94z"/>
        </g>
    </switch>
</svg>

<h3>Vw/Vh Defined Width and Height on Inline SVG</h3>
<p>Expected result is a medium red bar</p>
<svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10800 10800" width="75vw" height="75vh"
	 style="enable-background:new 0 0 10800 10800;" xml:space="preserve" preserveAspectRatio="xMidYMid meet">
    <style type="text/css">
        .st0{fill:#FFFFFF;stroke:#000000;stroke-width:0.5616;stroke-miterlimit:10;}
        .st1{fill:url(#SVGID_1_);}
    </style>
    <switch>
        <foreignObject requiredExtensions="&ns_ai;" x="0" y="0" width="1" height="1">
            <i:aipgfRef  xlink:href="#adobe_illustrator_pgf">
            </i:aipgfRef>
        </foreignObject>
        <g i:extraneous="self">
            <path style="fill:red;" class="st0" d="M7756.82,3215.94H3176.43c-0.18,0-0.32-0.16-0.31-0.34l62.59-1061.78l7.14-229.94
                c1.84-59.11,48.5-106.03,105.43-106.03h4325.82c41.97,0,74.12,38.77,67.89,81.88l11.83,319.12V3215.94z"/>
        </g>
    </switch>
</svg>

<h3>Vw/Vh Defined Width and Height and No preserveAspectRatio on Inline SVG</h3>
<p>Expected result is a medium red bar</p>
<svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10800 10800" width="75vw" height="75vh"
	 style="enable-background:new 0 0 10800 10800;" xml:space="preserve">
    <style type="text/css">
        .st0{fill:#FFFFFF;stroke:#000000;stroke-width:0.5616;stroke-miterlimit:10;}
        .st1{fill:url(#SVGID_1_);}
    </style>
    <switch>
        <foreignObject requiredExtensions="&ns_ai;" x="0" y="0" width="1" height="1">
            <i:aipgfRef  xlink:href="#adobe_illustrator_pgf">
            </i:aipgfRef>
        </foreignObject>
        <g i:extraneous="self">
            <path style="fill:red;" class="st0" d="M7756.82,3215.94H3176.43c-0.18,0-0.32-0.16-0.31-0.34l62.59-1061.78l7.14-229.94
                c1.84-59.11,48.5-106.03,105.43-106.03h4325.82c41.97,0,74.12,38.77,67.89,81.88l11.83,319.12V3215.94z"/>
        </g>
    </switch>
</svg>

<h3>Inline Style Max-Width and Max-Height on Inline SVG</h3>
<p>Expected result is a medium red bar inside a gray box</p>
<div class="svg-background">
    <svg style="max-height: 100%;max-width: 100%;" version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10800 10800"
        style="enable-background:new 0 0 10800 10800;" xml:space="preserve" preserveAspectRatio="xMidYMid meet">
        <style type="text/css">
            .st0{fill:#FFFFFF;stroke:#000000;stroke-width:0.5616;stroke-miterlimit:10;}
            .st1{fill:url(#SVGID_1_);}
        </style>
        <switch>
            <foreignObject requiredExtensions="&ns_ai;" x="0" y="0" width="1" height="1">
                <i:aipgfRef  xlink:href="#adobe_illustrator_pgf">
                </i:aipgfRef>
            </foreignObject>
            <g i:extraneous="self">
                <path style="fill:red;" class="st0" d="M7756.82,3215.94H3176.43c-0.18,0-0.32-0.16-0.31-0.34l62.59-1061.78l7.14-229.94
                    c1.84-59.11,48.5-106.03,105.43-106.03h4325.82c41.97,0,74.12,38.77,67.89,81.88l11.83,319.12V3215.94z"/>
            </g>
        </switch>
    </svg>
</div>

<h3>Control</h3>
<p>Expected result is that the red bar is not visible in safari</p>
<div class="svg-background">
    <svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10800 10800"
        style="enable-background:new 0 0 10800 10800;" xml:space="preserve" preserveAspectRatio="xMidYMid meet">
        <style type="text/css">
            .st0{fill:#FFFFFF;stroke:#000000;stroke-width:0.5616;stroke-miterlimit:10;}
            .st1{fill:url(#SVGID_1_);}
        </style>
        <switch>
            <foreignObject requiredExtensions="&ns_ai;" x="0" y="0" width="1" height="1">
                <i:aipgfRef  xlink:href="#adobe_illustrator_pgf">
                </i:aipgfRef>
            </foreignObject>
            <g i:extraneous="self">
                <path style="fill:red;" class="st0" d="M7756.82,3215.94H3176.43c-0.18,0-0.32-0.16-0.31-0.34l62.59-1061.78l7.14-229.94
                    c1.84-59.11,48.5-106.03,105.43-106.03h4325.82c41.97,0,74.12,38.77,67.89,81.88l11.83,319.12V3215.94z"/>
            </g>
        </switch>
    </svg>
</div>

<h3>Image from Bumbywool.com domain</h3>
<p>Expected result is an image below of a sweater</p>
<div class="item-card" style="background-image:url(https://bumbywool.com/wp-content/uploads/2017/08/Adult-Sheepy.png)"></div>