body {
  font-family: "Merriweather", sans-serif;
  margin: 0;
  color: #222;
}

.nav {
  min-width: 100%;
  background: #222;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.25rem;
  box-shadow: 0 0 0.15rem 0.15rem rgba(0,0,0,0.25);
}

.nav-home {
  background-color: #d2d3cf;
  padding: 0 1rem;
}

.nav img {
  height: 4rem;
}

.nav-link {
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #fff;
}

.nav-link:hover, .nav-link:active {
  background-color: #333;
}

.item-list-container {
  margin: 1rem 2rem;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
}

.item-list > li {
  list-style: none;
}

.item-card {
  display: block;
  margin: 0.5rem;
  padding: 0.5rem;
  height: 20rem;
  width: 18rem;
  background-size: cover;
  border-radius: 0.25rem;
  position: relative;
  box-shadow: 0 0 0.15rem 0.15rem rgba(0, 0, 0, 0.05) inset;
}

.item-card:hover, 
.item-card:active, 
.item-card:focus {
  box-shadow: 0 0 0.15rem 0.15rem rgba(0, 0, 0, 0.15) inset;
}

.item-card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background: rgba(34,34,34, 0.7);
  border-bottom-left-radius:0.25rem;
  border-bottom-right-radius:0.25rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(255,255,255, 0.9);
  text-align: center;
}

.item-card:hover .item-card-title, 
.item-card:active .item-card-title, 
.item-card:focus .item-card-title {
  background: rgba(51,51,51, 0.7);
}

.colorcompass-container {
  display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

.svg-background {
  background-color: rgb(210, 211, 207);
  border-radius: 0.75rem;
  height: 65vh;
  max-height: 65vh;
  padding: 0.5rem;
  margin: 0.5rem 1.5rem;
  flex-grow: 4;
  min-width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-background > svg {
  height: 100%;
  width: 100%;
}

.svg-background svg polygon,
.svg-background svg path,
.svg-background svg rect {
  stroke:#000;
  stroke-width:2rem;
  stroke-opacity: 0.1;
}

.option-container {
  max-width: 25rem;
  margin: 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 960px) {
  .colorcompass-container {
    flex-wrap: wrap;
  }
}

.option-label {
  display: block;
  margin: 0.25rem 0;
}

.order-link {
  background-color: #b0b3b8;
  color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  text-decoration: none;
  display: block;
  text-align: center;
}

.order-link:hover,
.order-link:active {
  background-color: #bb8e3a;
}

.download-design-container {
  width: 100%;
  margin: 0.5rem 1.5rem;
}

.download-design-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.color-primary {
  color:#b0b3b8;
}

.color-muted {
  color: #444;
}

.option-banner {
  margin: 0.25rem 0;
}

.item-title-container {
  margin: 0.5rem 1.5rem;
}

.item-title {
  margin: 0;
}

.link {
  white-space: nowrap;
}

.inspired-description {
  margin: 0.25rem 0 1rem 0;
}

.type-selector {
  display: block;
  width: 20rem;
  margin-bottom: 0.75rem;
  height: 3rem;
  padding: 0.5rem 1.75rem;
  background: #fefefe;
  border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.type-selector:hover,
.type-selector:active {
  background: #e1e1e1;
}

.color-selector-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  margin-bottom: 1.25rem;
}

.color-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0.5rem 1.75rem;
  width: 100%;
  background: #fefefe;
  border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.color-selector:hover,
.color-selector:active {
  background: #e1e1e1;
}

.selected-color {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selected-color .swatch {
  display: inline-block;
  margin-right: 0.75rem;
}

.swatch-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem;
  margin: 0;
  border-left: 1px #e1e1e1 solid;
  border-bottom: 1px #e1e1e1 solid;
  border-right: 1px #e1e1e1 solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.swatch {
  margin: 0.35rem 0.15rem;
  padding: 0.15rem;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  position: relative;
  border: 0.25rem solid rgba(0,0,0,0);
  box-shadow: 0 0 0.05rem 0.02rem;
}

.swatch-list > .swatch:hover {
  border: 0.25rem solid #dadada;
}

.swatch > .color-tooltip {
  background: rgba(0,0,0,0.75);
  color: #fff;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.25rem 0.25rem;
  border-radius: 0.25rem;
  width: 7rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
}

.swatch:hover > .color-tooltip {
  opacity: 1;
}
