<div class="item-title-container">
    <h1 class="item-title">My Bumby {{$ctrl.item.title}}</h1>
</div>
<div class="builder-container" ng-if="$ctrl.item">
    <div ng-include="$ctrl.svgUrl" class="svg-background"></div>
    <div class="option-container">
        <div ng-if="$ctrl.item.variants.length > 1">
            <h2 class="option-banner">Type</h2>
            <select class="type-selector" ng-model="$ctrl.selectedVariant" ng-options="variant.label for variant in $ctrl.item.variants"></select>
        </div>
        
        <h2 class="option-banner">Options</h2>
        <div ng-repeat="option in $ctrl.selectedVariant.options">
            <label class="option-label">{{option.label}}</label>
            <select class="type-selector" ng-if="option.types && option.types.length > 0" ng-model="option.selectedType" ng-init="option.selectedType = option.types[0]" ng-options="type.label for type in option.types"></select>
            <color-selector ng-if="option.colorSelector !== 'none' && option.colorSelector !== 'zipper' && option.selectedType.colorSelector !== 'zipper'" colors="$ctrl.colors" selected-color="option.color" on-update="option.color = color"></color-selector>
            <color-selector ng-if="option.colorSelector !== 'none' && (option.colorSelector === 'zipper' || option.selectedType.colorSelector === 'zipper')" colors="$ctrl.zippers" selected-color="option.color" on-update="option.color = color"></color-selector>
        </div>
        
        <div ng-if="$ctrl.selectedVariant.extras && $ctrl.selectedVariant.extras.length > 0">
            <!-- EXTRA OPTIONS -->
            <h4 class="option-banner">Additional Options</h4>
            <div ng-repeat="extra in $ctrl.selectedVariant.extras">
                <label class="option-label"><input type="checkbox" ng-model="extra.show">{{extra.label}}</label>
                <select class="type-selector" ng-if="extra.show && extra.types && extra.types.length > 0" ng-model="extra.selectedType" ng-init="extra.selectedType = extra.types[0]" ng-options="type.label for type in extra.types"></select>
                <color-selector colors="$ctrl.colors" selected-color="extra.color" ng-if="extra.show" on-update="extra.color = color"></color-selector>
            </div>
        </div>
        <a class="link order-link" href="https://bumbywool.com/" target="_blank">Place Order at <span class="underline">BumbyWool.com</span> <i class="fas fa-external-link-alt"></i></a>
        <small class="color-muted">Each Bumby Wool product is a unique creation. The {{$ctrl.item.title}} here is an approximation of the finished product.</small>
    </div>
  </div>
  <div class="builder-container" ng-if="!$ctrl.item">
      <h1>Oops.. that item wasn't found</h1>
  </div>
</div>
<div class="item-title-container">
  <h2 class="item-title color-primary">Get Inspired!</h2>
  <p class="inspired-description"> Check out what others have made or share a screenshot of what you've created in the <a class="link" href="https://www.facebook.com/groups/503699423004969" target="_blank">Bumby Wool Community <i class="fas fa-external-link-alt"></i></a></p>
</div>