<pattern ng-repeat="pattern in patterns"
         id="{{pattern.svgPatternId}}"
         patternUnits="objectBoundingBox"
         width="1"
         height="1">

    <image ng-attr-href="{{pattern.imageUrl}}"
           x="0"
           y="0"
           width="100%"
           height="100%"
           preserveAspectRatio="xMidYMid meet" />
</pattern>

<pattern ng-repeat="zipper in zippers"
         id="{{zipper.svgPatternId}}"
         patternUnits="objectBoundingBox"
         width="1"
         height="0.05">

    <image ng-attr-href="{{zipper.imageUrl}}"
           x="0"
           y="0"
           width="100%"
           height="100%" />
</pattern>
